name: Kufar Monitor
on:
  schedule:
    - cron: '*/10 * * * *'  # каждые 10 мин (UTC)
  workflow_dispatch:  # для ручного запуска

jobs:
  monitor:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Kufar Monitor
        env:
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
          GIST_TOKEN: ${{ secrets.GIST_TOKEN }}
          GITHUB_USER: ${{ github.repository_owner }}
        run: python kufar_monitor.py